/* 선택자(selector): HTML 태그 선택 */

/* id-> div#아이디명{} */
.blind{

    position:absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;

}

div#header-center{
    margin:0 auto; 
    width: 1080px;
}

div#header-search h1{
    width: 198px;
    height: 48px;
    display: inline-block;
    /*
    background-image: url(./sp_search.png);
    background-position: -4px -10px;
    */

    background:url(./sp_search.png) -4px -4px no-repeat; /*한번에 줄이기*/

    text-indent:100%; /*들여쓰기*/
    overflow: hidden; /*바깥에 있는건 안보이게*/
}

#header-search a{
    text-decoration: none; /*a태그는 -(밑줄)이 생길 수 있는데 이걸 없애기 위함*/
}

div#header-search h1 span{
    display: none;
}

div#header-search h2{
    display: none;
}

div#header-search fieldset{
    margin-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 0px;
    /*padding: 12px 12px 10px; */
    width:521px;
    height: 49px;
    display: inline-block;

    border:2px solid #03cf5d;
}


/* 
,(콤마)로 여러태그에 적용가능 ex. , div#zerocho
div 생략 가능
px: 상대적인 길이 모니터의 가로 길이를 1080등분
내 모니터 px가 궁금하면 console창에 screen.width, screen.height를 치면 된다.

*/

/*
    자식을 선택할때 '>' 사용
    header-center h1 // 한칸 띄워 쓰면 '자손'선택자
*/