<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWIDEA</title>

    <script src="https://kit.fontawesome.com/7d6a50a6b2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
    <nav>
        <a href="{% url 'swidea:idea_list' %}">My SW Idea Manage</a>
        <a href="{% url 'swidea:idea_new'%}">아이디어 등록</a>
        <a href="{% url 'swidea:idea_list' %}">아이디어 관리</a> 
        <a href="{% url 'swidea:dev_new'%}">개발툴 등록</a>
        <a href="{% url 'swidea:dev_list' %}">개발툴 관리</a>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
        
    </div>
    
</body>
</html>