{% extends 'base.html' %}

{% block content %}

    {%for swidea in swideas %}
    <div>

        <div class=list-poster>
            {% if swidea.idea_image %}
                <img src="{{swidea.idea_image.url}}" height="300" width="300">
            {% else %}
            <img src="https://picsum.photos/seed/{{swidea.id}}/300/300?">
            {% endif %}
        </div>
        <h1><a href="{% url 'swidea:idea_detail' pk=swidea.pk %}">{{swidea.idea_name}}</a></h1>
        <h6>예상 개발툴 : {{swidea.devtool}}</h6>
        <h6>아이디어 관심도 : <span id="list-interest-{{swidea.id}}">{{swidea.idea_like}}</span></h6>


        <!--AJAX-->
        <div class="interest-btn">
            <a href="#" class="increaseQuantity" name="{{swidea.id}}" type="button"><i class="fas fa-plus"></i></a>
            <a href="#" class="decreaseQuantity" name="{{swidea.id}}" type="button"><i class="fas fa-minus"></i></a>
        </div>

        <!--Scripts-->

        <script type="text/javascript">
            var isRun = false;
            $(".increaseQuantity").click(function () { 
                if(isRun == true) { return; } 
                isRun = true;
                var pk = $(this).attr('name')
                $.ajax({ // ajax로 서버와 통신 비동기처리
                    type: "POST", 
                    url: "{% url 'swidea:plus_interest' %}", 
                    data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, 
                    dataType: "json",
                    success:function(response){
                        $("#list-interest-"+pk).html(response.plus_interest)
                        isRun  = false;
                    },
                    error : function(xhr,errmsg,err) {
                    console.log('고장'); 
                    }
                });
            })
            $(".decreaseQuantity").click(function () { 
                if(isRun == true) { return; } 
                isRun = true;
                var pk = $(this).attr('name') //url 이랑 attr(네임)맞춰주기
                $.ajax({ // ajax로 서버와 통신
                    type: "POST", 
                    url: "{% url 'swidea:minus_interest' %}", 
                    data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, 
                    dataType: "json",
                    success:function(response){
                        $("#list-interest-"+pk).html(response.minus_interest)
                        isRun  = false;
                    },
                    error : function(xhr,errmsg,err) {
                    console.log('고장'); 
                    }
                });
            })
        </script>


    </div>



    {% endfor %}

{% endblock %}
